<div id="icon"><a href="/">
    <img src="/IMG/logo2.png" alt="Icon" width="200"></a></div>

<center>
    <div id="plantilla">
        <center><h1>RICCINO22 <br><%= textTitle %></h1></center>
        <center><p align="justify" style="margin-left: 15px;margin-right: 15px;"><%= textInfo %><a href="<%= addLink %>" target="__blank"><%= textLinkPrincipal %></a></p></center>
