

            <div id="social">
                <a href="tel:(+58)04144036869" ><img src="/IMG/whatsapp.png" id="WhatsApp" title="WhatsApp"></a>

                <a href="https://www.linkedin.com/in/riccardo-inojosa-53749a213/" target="_blank"><img src="/IMG/linkedi.png" id="linkedIn" title="linkedIn"></a>


                <a href="mailto:riccardorinojosam@gmail.com" target="_blank"><img src="/IMG/email.png" id="gmail" title="email"></a>

                	
                <img src="/IMG/facebook.png" alt="facebook" title="facebook" id="facebook"></a>
                </div>
