<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
    
                <%- include("partials/info.ejs") %>

                <center>
                    <h4 style="color: #f7f7f7a8;">There isn't articles jet</h4>
                </center>


            </div>

            <%- include("partials/social.ejs") %>


        </center>   
    </body>
</html>