<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
    
                <%- include("partials/info.ejs") %>

                <a href="https://riccino22.github.io/gamerom/pix" target="_blank"><button id="boton1">PIX</button></a>       
                <a href="https://riccino22.github.io/gamerom/gravityx" target="_blank"><button id="boton2">Gravity X</button></a>       
                <a href="https://riccino22.github.io/gamerom/collision" target="_blank"><button id="boton3">COLLISION</button></a>       
                <a href="https://riccino22.github.io/gamerom/axel" target="_blank"><button id="boton4">AXEL</button></a>       

            </div>

            <%- include("partials/social.ejs") %>


        </center>   
    </body>
</html>