<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
    
                <%- include("partials/info.ejs") %>

                <a href="/programs"><button id="boton1">Programs</button></a>                              
                <a href="/games"><button id="boton2">Games</button></a>
                <a href="/articles"><button id="boton3">Articles</button></a>



      			<center>

      				<div id="skills">

      			<h2 style="box-shadow: 10px 10px 10px #00beffa3">Skills</h2>

      				<a target="_blank" href="https://www.google.com/search?q=HTML5"><img src="IMG/html5-logo.png" width="100" title="HTML5. Experiencia: Alta" style=" margin-top: 20px"> </a>
      				<a target="_blank" href="https://www.google.com/search?q=CSS3"><img src="IMG/css.gif" width="70"  title="CSS3. Experiencia: Alta" style="margin-left: 2px; margin-top: 20px"></a>
      				<a target="_blank" href="https://www.google.com/search?q=JavaScript"> <img src="IMG/js-logo1.png" width="100" title="JavaScript: Experiencia: Alta" style="margin-left: 20px"></a>
      				<a target="_blank" href="https://www.google.com/search?q=Phaser"><img src="IMG/phaser.gif" width="170" title="Phaser. Experiencia: Aceptable" style=" margin-top: 50px"></a>   				
                    <a target="_blank" href="https://www.google.com/search?q=NodeJS"><img src="IMG/node.gif" width="170" title="NodeJS. Experiencia: Aceptable"></a>
      				<a target="_blank" href="https://www.google.com/search?q=vueJS"><img src="IMG/logo-vue.png" width="100" title="VueJS. Experiencia: Aceptable"></a>
                    <a target="_blank" href="https://www.google.com/search?q=Python"><img src="IMG/python.gif" width="150" title="Python. Experiencia: Baja"></a>
                    <a target="_blank" href="https://www.google.com/search?q=PHP"><img src="IMG/PHP.gif" width="100" title="PHP. Experiencia: Baja"></a>
                
				</div>
      			</center>

            </div>


            <%- include("partials/social.ejs") %>


        </center>   
    </body>
</html>