<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
    
                <%- include("partials/info.ejs") %>

                <a href="/programs/shape-drawer/" target="_blank"><button id="boton1">ShapeDrawer</button></a>                              
                <a href="/programs/detect-key/" target="_blank"><button id="boton2">Key Detector</button></a>
                <a href="/programs/percentage/" target="_blank"><button id="boton3">Porcentaje</button></a>


            </div>


            <%- include("partials/social.ejs") %>


        </center>   
    </body>
</html>